div.TaskGroupList {
  width: 40%;
  float: right;
  padding-left: 1%;
  padding-right: 1%;
  border: 1px solid blue;
  margin: 2%;
}

.TaskGroupList .TaskGroupListLabel {
  width: 70%;
  float: left;
}

.TaskGroupList .TaskGroupListDisplay {
  width: 30%;
  float: right;
}

.TaskGroupList .TaskGroupListDisplay h1 {
  text-decoration: underline;
  color: #00CED1;
}

hr.taskGroupSeparator {
  width: 106%;
  margin-left: -6%;
}

li {
  margin-left: -2%;
}